*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Georgia;
    font-size: xx-large;
    background-image: url("../Astro/img/fondo3.jpg");
    width: 100%;
    height: 100%;
}

.contenedor{
    padding: 20px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.titulo{
   color: rgb(13, 197, 53);
   font-size: 60px;
   text-align: center; 
   margin-bottom: 60px;
}

header {
    width: 100%;
    height: 300px;
}

nav{
    text-align: right;
    padding: 30px 50px 0 0;
}

nav > a{
    color:cyan;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
}

header .Textos-Header{
    display: flex;
    height: 200px;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    color: cornsilk;
    text-align: center;
}

nav > a:hover{
    text-decoration: underline;
}

/* Estrellas */

.contenedor-Estrellas{
    display: inline-table;
    justify-content: space-evenly;
}

.imagen-estrella{
    width: 100%;
}

.contenedor-Estrellas .contenido-estrellas{
    width: 100%;
}

.contenido-estrellas h3{
    margin-bottom: 15px;
    background-color: rgb(13, 197, 53) ;
}

.contenido-estrellas h3 span{
    background-color:rgb(13, 197, 53);
    color: black;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    box-shadow: 0 0 6px 0 (0, 0, 0, .5);
    margin-right: 5px;
}

.contenido-estrellas p{
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;
    background-color: white;
}

/* Planetas */

.contenido-planetas h3{
    margin-bottom: 15px;
    background-color: rgb(13, 197, 53) ;
}

.contenido-planetas h3 span{
    background-color:rgb(13, 197, 53);
    color: black;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    box-shadow: 0 0 6px 0 (0, 0, 0, .5);
    margin-right: 5px;
}

.contenido-planetas p{
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;
    background-color: white;
}

.galeria-planetas{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imagen-planetas{
    width:24%;
    margin-bottom: 10px;
    height: 200px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
}

.imagen-planetas > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hover-galeria{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(1);
    background: hsla(194, 46%, 56%, 0.685);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hover-galeria img{
    width: 50px;
}

.hover-galeria p{
    color: white;
}

.imagen-planetas:hover .hover-galeria{
    transform: scale(0);
}

/* Galaxias */

.galeria-Galaxias{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imagen-galaxias{
    width:30%;
    margin-bottom: 10px;
    height: 200px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
}

.imagen-galaxias > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hover-galeria img{
    width: 50px;
}

.hover-galeria p{
    color: white;
}

.imagen-galaxias:hover .hover-galeria{
    transform: scale(0);
}

/* Constelaciones */

.contenedor-constelaciones{
    display: inline-table;
    justify-content: space-evenly;
}

.imagen-constelacion{
    width: 100%;
}

.contenedor-constelaciones .contenido-constelaciones{
    width: 100%;
}

.contenido-constelaciones h3{
    margin-bottom: 15px;
    background-color: rgb(13, 197, 53) ;
}

.contenido-constelaciones h3 span{
    background-color:rgb(13, 197, 53);
    color: black;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    box-shadow: 0 0 6px 0 (0, 0, 0, .5);
    margin-right: 5px;
}

.contenido-constelaciones p{
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;
    background-color: white;
}

.content-foo{
    background-color: white;
}